<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ventillate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <link href="static/assets/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
            </div>
        </div>              
        <div class="app-main">
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3 card text-white card-body bg-danger">
                                <h5 class="text-white error-title">401 UNAUTHORIZED</h5>
                                {% if ns != null and ns != "/" %}
                                    <h5 class="text-white error-body">Please <a href="/{{ ns }}login">Log In</a> to view any patient information</h5>
                                {% else %}
                                    <h5 class="text-white error-body">Please <a href="/login">Log In</a> to view any patient information</h5>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>                        
                </div> 
            </div>
        </div>
    </div>
<script type="text/javascript" src="./assets/scripts/main.js"></script></body>
</html>
